set -s escape-time 1

set -g base-index 1
setw -g pane-base-index 1

setw -g monitor-activity on
set -g visual-activity on

setw -g automatic-rename
set-option -g set-titles on

set -g history-limit 10000

{{ if eq .chezmoi.os "darwin" -}}
setw -g automatic-rename off
set-option -g default-command "reattach-to-user-namespace -l zsh"
setw -g automatic-rename on
{{ end -}}

set-option -g mouse on

bind '"' split-window -c "#{pane_current_path}"
bind % split-window -h -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"
