#
# OH-MY-ZSH
#

# We can't autoupdate with chezmoi, take a look here for more info:
# https://github.com/twpayne/chezmoi/blob/master/docs/HOWTO.md#include-a-subdirectory-from-another-repository-like-oh-my-zsh
DISABLE_AUTO_UPDATE="true"

# This is the project page: https://github.com/robbyrussell/oh-my-zsh/
ZSH=$HOME/.oh-my-zsh
ZSH_THEME="refined" # was ys
plugins=(
    asdf
    autojump
    docker
    dotenv
    github
    golang
    jsontools
    mercurial
    osx
    pep8
    pip
    python
    safe-paste
    vagrant
    virtualenvwrapper
)
source $ZSH/oh-my-zsh.sh
setopt nocorrect_all

# Avoid zsh to complain about bg processes
setopt NO_HUP
setopt NO_CHECK_JOBS

#
# iterm2 integration
#
{{ if eq .chezmoi.os "darwin" -}}
iterm_integration=~/.iterm2_shell_integration.zsh
if [ -e $iterm_integration ]; then
    source $iterm_integration
fi
{{ end -}}

#
# Import aliases
#
. ~/.zsh_aliases
