#!/bin/sh
sudo true # asks for the password ASAP

{{ if eq .chezmoi.os "linux" -}}
    sudo apt-get update
    sudo apt-get install curl git autojump
{{ else if eq .chezmoi.os "darwin" -}}
    # Install brew if it doesn't exist
    command -v brew >/dev/null 2>&1 || { CI=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"; }
    brew install autojump
{{ end -}}

git clone https://github.com/asdf-vm/asdf.git ~/.asdf 2> /dev/null || true
